<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='icon' href='favicon-32x32.png' type='image/x-icon'/ >
    <link rel="stylesheet" href="app.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <script src="vue.js"></script>
    
    <title>Todo</title>
</head>
<body>

    <div id="app" class="h-screen flex items-center justify-center bg-teal-lightest font-sans">

        <div class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg">

            <div class="mb-4">
                <h1 class="text-grey-darkest">Todo List</h1>

                <div class="flex mt-4">
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-grey-darker" v-model="newTodo" placeholder="Add Todo">
                    <button class="flex-no-shrink p-2 border-2 rounded text-teal border-teal hover:text-white hover:bg-teal" @click="add" :disabled="newTodo.length === 0">Add</button>
                </div>

            </div>


            <div>
                <div v-show="todos.length === 0">
                    <p class="w-full text-center text-grey-dark">There are no todos</p>
                </div>

                <div class="flex mb-4 items-center" v-for="(todo, index) in todos" :key="todo.id">
                    <p class="w-full" :class="todo.finished ? 'line-through text-green' : 'text-grey-darkest'">{{ todo.text }}</p>
                    <button class="flex-no-shrink p-2 ml-4 mr-2 border-2 rounded hover:text-white" :class="todo.finished ? 'text-grey border-grey hover:bg-grey' : 'text-green border-green hover:bg-green'" @click="updateStatus(todo)" v-text="todo.finished ? 'Not Done' : 'Done'"></button>
                    <button class="flex-no-shrink p-2 ml-2 border-2 rounded text-red border-red hover:text-white hover:bg-red" @click="remove(index)">Remove</button>
                </div>

                

            </div>


        </div>

    </div>

    <script src="app.js"></script>
</body>
</html>